<header class="w-full flex justify-between items-center p-5 bg-gray-900">
  <div class="logo">
    <h1 class="text-white text-4xl flex justify-start items-center">
      Challenge
    </h1>
  </div>
  <nav class="nav-items">
    <ng-container *ngIf="!isLoggedIn">
      <a
        routerLink="/register"
        class="text-xl cursor-pointer text-white font-bold m-3 hover:underline hover:text-green-500"
        >Registrieren</a
      >
      <a
        routerLink="/login"
        class="text-xl cursor-pointer text-white font-bold m-3 hover:underline hover:text-green-500"
        >Login</a
      >
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <a
        routerLink="/"
        (click)="logout()"
        class="text-xl cursor-pointer text-white font-bold m-3 hover:underline hover:text-green-500"
        >Logout</a
      >
    </ng-container>
  </nav>
</header>
