<header class="w-full flex justify-between items-center p-5 bg-indigo-500">
  <div class="logo">
    <h1 class="text-gray-200 text-4xl flex justify-start items-center">
      Challenge
    </h1>
  </div>
  <nav class="nav-items">
    <ng-container *ngIf="!isLoggedIn">
      <a
        routerLink="/register"
        class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200"
        >Registrieren</a
      >
      <a
        routerLink="/login"
        class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200"
        >Login</a
      >
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <a
        routerLink="/"
        (click)="logout()"
        class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200"
        >Logout</a
      >
    </ng-container>
  </nav>
</header>
