<div class="lg:w-3/6 mt-10 p-10 mx-auto bg-gray-900">
  <h3 class="text-3xl text-center font-semibold py-5 text-white">
    Bitte setzen Sie Ihr Passwort!
  </h3>
  <form [formGroup]="resetForm" class="flex flex-col">
    <div class="flex flex-col mt-4 mb-1">
      <input
        formControlName="password"
        class="p-2 border border-gray-600 rounded bg-gray-700 text-white placeholder-gray-400 focus:outline-none focus:border-green-600"
        type="password"
        placeholder="Neues Passwort"
      />
      <span
        *ngIf="
          resetForm.hasError('required', 'password') &&
          resetForm.controls['password'].dirty
        "
        class="text-red-500"
        >Das Feld darf nich leer sein!</span
      >
      <span
        *ngIf="resetForm.controls['password'].errors?.['minlength']"
        class="text-red-500"
        >Das Passwort muss mindestens
        {{ resetForm.controls['password'].errors?.['minlength'].requiredLength }}
        Zeichen lang sein!
      </span>
    </div>
    <div class="flex flex-col mt-4 mb-1">
      <input
        formControlName="confirmPassword"
        class="p-2 border border-gray-600 rounded bg-gray-700 text-white placeholder-gray-400 focus:outline-none focus:border-green-600"
        type="password"
        placeholder="Neues Passwort wiederholen"
      />
      <span
        *ngIf="
          resetForm.hasError('required', 'confirmPassword') &&
          resetForm.controls['confirmPassword'].dirty
        "
        class="text-red-500"
        >Das Feld darf nich leer sein!</span
      >
      <span
        *ngIf="
          resetForm.hasError('confirmPasswordValidator', 'confirmPassword')
        "
        class="text-red-500"
        >Passwörter stimmten nicht überein!</span
      >
    </div>
    <button
      type="submit"
      [disabled]="resetForm.invalid"
      [class.disabled]="resetForm.invalid"
      (click)="reset()"
      class="bg-green-500 p-2 rounded mt-3 text-white hover:bg-green-600"
    >
      Daten bestätigen
    </button>
  </form>
</div>
