<div class="lg:w-3/6 mt-10 p-10 mx-auto">
  <h3 class="text-3xl text-center font-semibold py-5">Passwort anfordern</h3>
  <span class="mb-4">
    Um ein neues Passwort anzufordern, geben Sie bitte im folgenden Formular
    Ihre E-Mail-Adresse an.
  </span>
  <form [formGroup]="forgetForm" class="flex flex-col">
    <div class="flex flex-col mt-4 mb-1">
      <input
        aria-label="Email"
        formControlName="email"
        class="p-2 border border-gray-300 rounded"
        type="text"
        placeholder="E-Mail-Adresse"
      />
      <span
        *ngIf="
          forgetForm.hasError('required', 'email') &&
          forgetForm.controls['email'].dirty
        "
        class="text-red-500"
        >Das Feld darf nich leer sein!</span
      >
      <span *ngIf="forgetForm.hasError('email', 'email')" class="text-red-500"
        >Diese E-Mail-Adresse ist ungültig!</span
      >
    </div>
    <button
      [disabled]="forgetForm.invalid"
      [class.disabled]="forgetForm.invalid"
      (click)="sendEmail()"
      class="bg-indigo-500 p-2 rounded mt-3 text-white"
    >
      Passwort anfordern
    </button>
  </form>
  <div class="flex justify-between mt-5">
    <a routerLink="/register" class="text-indigo-600 ml-2 cursor-pointer"
      >Jetzt registrieren</a
    >
  </div>
</div>
